In [18]:
import pandas as pd

In [19]:
df=pd.read_csv("movies.csv")
df.head(3)

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English

In [20]:
df.tail(3)

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
34,Pushpa: The Rise - Part 1,Bollywood,2021,7.6,Mythri Movie Makers,2.0,3.6,Billions,INR,Telugu
35,RRR,Bollywood,2022,8.0,DVV Entertainment,5.5,12.0,Billions,INR,Telugu
36,Baahubali: The Beginning,Bollywood,2015,8.0,Arka Media Works,1.8,6.5,Billions,INR,Telugu

In [21]:
df.shape

(37, 10)

In [22]:
df.columns

Index(['title', 'industry', 'release_year', 'imdb_rating', 'studio', 'budget',
       'revenue', 'unit', 'currency', 'language'],
      dtype='object')

In [23]:
df.industry.unique()

array(['Bollywood', 'Hollywood'], dtype=object)

In [24]:
df.language.unique()

array(['Bengali', 'English', 'Hindi', 'Kannada', 'Telugu'], dtype=object)

In [25]:
df.language.value_counts()

English    20
Hindi      12
Telugu      3
Bengali     1
Kannada     1
Name: language, dtype: int64

In [26]:
df[["title","industry","imdb_rating"]]

                                          title   industry  imdb_rating
0                               Pather Panchali  Bollywood          8.3
1   Doctor Strange in the Multiverse of Madness  Hollywood          7.0
2                         Thor: The Dark World   Hollywood          6.8
3                               Thor: Ragnarok   Hollywood          7.9
4                       Thor: Love and Thunder   Hollywood          6.8
5                      The Shawshank Redemption  Hollywood          9.3
6                                  Interstellar  Hollywood          8.6
7                      The Pursuit of Happyness  Hollywood          8.0
8                                     Gladiator  Hollywood          8.5
9                                       Titanic  Hollywood          7.9
10                        It's a Wonderful Life  Hollywood          8.6
11                                       Avatar  Hollywood          7.8
12                                The Godfather  Hollywood          9.2
13                              The Dark Knight  Hollywood          9.0
14                             Schindler's List  Hollywood          9.0
15                                Jurassic Park  Hollywood          8.2
16                                     Parasite  Hollywood          8.5
17                            Avengers: Endgame  Hollywood          8.4
18                       Avengers: Infinity War  Hollywood          8.4
19           Captain America: The First Avenger  Hollywood          6.9
20          Captain America: The Winter Soldier  Hollywood          7.8
21                  Dilwale Dulhania Le Jayenge  Bollywood          8.0
22                                     3 Idiots  Bollywood          8.4
23                     Kabhi Khushi Kabhie Gham  Bollywood          7.4
24                             Bajirao Mastani   Bollywood          7.2
25                             Taare Zameen Par  Bollywood          8.3
26                          Munna Bhai M.B.B.S.  Bollywood          8.1
27                                           PK  Bollywood          8.1
28                                        Sanju  Bollywood          NaN
29                            The Kashmir Files  Bollywood          8.3
30                            Bajrangi Bhaijaan  Bollywood          8.1
31                                       Race 3  Bollywood          1.9
32                                    Shershaah  Bollywood          8.4
33                             K.G.F: Chapter 2  Bollywood          8.4
34                    Pushpa: The Rise - Part 1  Bollywood          7.6
35                                          RRR  Bollywood          8.0
36                     Baahubali: The Beginning  Bollywood          8.0

In [27]:
df_new = df[["title","industry","imdb_rating"]]
df_new

                                          title   industry  imdb_rating
0                               Pather Panchali  Bollywood          8.3
1   Doctor Strange in the Multiverse of Madness  Hollywood          7.0
2                         Thor: The Dark World   Hollywood          6.8
3                               Thor: Ragnarok   Hollywood          7.9
4                       Thor: Love and Thunder   Hollywood          6.8
5                      The Shawshank Redemption  Hollywood          9.3
6                                  Interstellar  Hollywood          8.6
7                      The Pursuit of Happyness  Hollywood          8.0
8                                     Gladiator  Hollywood          8.5
9                                       Titanic  Hollywood          7.9
10                        It's a Wonderful Life  Hollywood          8.6
11                                       Avatar  Hollywood          7.8
12                                The Godfather  Hollywood          9.2
13                              The Dark Knight  Hollywood          9.0
14                             Schindler's List  Hollywood          9.0
15                                Jurassic Park  Hollywood          8.2
16                                     Parasite  Hollywood          8.5
17                            Avengers: Endgame  Hollywood          8.4
18                       Avengers: Infinity War  Hollywood          8.4
19           Captain America: The First Avenger  Hollywood          6.9
20          Captain America: The Winter Soldier  Hollywood          7.8
21                  Dilwale Dulhania Le Jayenge  Bollywood          8.0
22                                     3 Idiots  Bollywood          8.4
23                     Kabhi Khushi Kabhie Gham  Bollywood          7.4
24                             Bajirao Mastani   Bollywood          7.2
25                             Taare Zameen Par  Bollywood          8.3
26                          Munna Bhai M.B.B.S.  Bollywood          8.1
27                                           PK  Bollywood          8.1
28                                        Sanju  Bollywood          NaN
29                            The Kashmir Files  Bollywood          8.3
30                            Bajrangi Bhaijaan  Bollywood          8.1
31                                       Race 3  Bollywood          1.9
32                                    Shershaah  Bollywood          8.4
33                             K.G.F: Chapter 2  Bollywood          8.4
34                    Pushpa: The Rise - Part 1  Bollywood          7.6
35                                          RRR  Bollywood          8.0
36                     Baahubali: The Beginning  Bollywood          8.0

In [28]:
df[(df.release_year>=2000) & (df.release_year<=2010)]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
7,The Pursuit of Happyness,Hollywood,2006,8.0,Columbia Pictures,55.0,307.1,Millions,USD,English
8,Gladiator,Hollywood,2000,8.5,Universal Pictures,103.0,460.5,Millions,USD,English
11,Avatar,Hollywood,2009,7.8,20th Century Fox,237.0,2847.0,Millions,USD,English
13,The Dark Knight,Hollywood,2008,9.0,Syncopy,185.0,1006.0,Millions,USD,English
22,3 Idiots,Bollywood,2009,8.4,Vinod Chopra Films,550.0,4000.0,Millions,INR,Hindi
23,Kabhi Khushi Kabhie Gham,Bollywood,2001,7.4,Dharma Productions,390.0,1360.0,Millions,INR,Hindi
25,Taare Zameen Par,Bollywood,2007,8.3,NaN,120.0,1350.0,Millions,INR,Hindi
26,Munna Bhai M.B.B.S.,Bollywood,2003,8.1,Vinod Chopra Productions,100.0,410.0,Millions,INR,Hindi

In [29]:
df.studio.unique()

array(['Government of West Bengal', 'Marvel Studios',
       'Castle Rock Entertainment', 'Warner Bros. Pictures',
       'Columbia Pictures', 'Universal Pictures  ', 'Paramount Pictures',
       'Liberty Films', '20th Century Fox', 'Syncopy',
       'Universal Pictures', nan, 'Yash Raj Films', 'Vinod Chopra Films',
       'Dharma Productions', 'Vinod Chopra Productions', 'Zee Studios',
       'Salman Khan Films', 'Hombale Films', 'Mythri Movie Makers',
       'DVV Entertainment', 'Arka Media Works'], dtype=object)

In [30]:
df[df.studio == "Marvel Studios"]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English
4,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English
17,Avengers: Endgame,Hollywood,2019,8.4,Marvel Studios,400.0,2798.0,Millions,USD,English
18,Avengers: Infinity War,Hollywood,2018,8.4,Marvel Studios,400.0,2048.0,Millions,USD,English
19,Captain America: The First Avenger,Hollywood,2011,6.9,Marvel Studios,216.7,370.6,Millions,USD,English
20,Captain America: The Winter Soldier,Hollywood,2014,7.8,Marvel Studios,177.0,714.4,Millions,USD,English

In [35]:
df.describe()

TypeError: Cannot interpret '<attribute 'dtype' of 'numpy.generic' objects>' as a data type

In [32]:
df.info()

TypeError: Cannot interpret '<attribute 'dtype' of 'numpy.generic' objects>' as a data type

In [33]:
df.imdb_rating.max()

9.3

In [34]:
df[df.imdb_rating == df.imdb_rating.max()]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
5,The Shawshank Redemption,Hollywood,1994,9.3,Castle Rock Entertainment,25.0,73.3,Millions,USD,English

In [36]:
df[(df.imdb_rating==df.imdb_rating.max())| (df.imdb_rating==df.imdb_rating.min())]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
5,The Shawshank Redemption,Hollywood,1994,9.3,Castle Rock Entertainment,25.0,73.3,Millions,USD,English
31,Race 3,Bollywood,2018,1.9,Salman Khan Films,1.8,3.1,Billions,INR,Hindi

In [37]:
df.head(4)

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English

In [38]:
df["age"] = df["release_year"].apply(lambda x: 2024 - x)
df.head(4)

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,69
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,2
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,11
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English,7

In [39]:
df["profit"] = df.apply (lambda x: x['revenue'] - x['budget'], axis=1 )
df.head(4)

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,profit
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,69,30000.0
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,2,754.8
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,11,479.8
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English,7,674.0

In [40]:
df.index

RangeIndex(start=0, stop=37, step=1)

In [41]:
print(df.columns)

Index(['title', 'industry', 'release_year', 'imdb_rating', 'studio', 'budget',
       'revenue', 'unit', 'currency', 'language', 'age', 'profit'],
      dtype='object')

In [42]:
df.set_index("title", inplace=True)

In [43]:
df.index

Index(['Pather Panchali', 'Doctor Strange in the Multiverse of Madness',
       'Thor: The Dark World ', 'Thor: Ragnarok ', 'Thor: Love and Thunder ',
       'The Shawshank Redemption', 'Interstellar', 'The Pursuit of Happyness',
       'Gladiator', 'Titanic', 'It's a Wonderful Life', 'Avatar',
       'The Godfather', 'The Dark Knight', 'Schindler's List', 'Jurassic Park',
       'Parasite', 'Avengers: Endgame', 'Avengers: Infinity War',
       'Captain America: The First Avenger',
       'Captain America: The Winter Soldier', 'Dilwale Dulhania Le Jayenge',
       '3 Idiots', 'Kabhi Khushi Kabhie Gham', 'Bajirao Mastani ',
       'Taare Zameen Par', 'Munna Bhai M.B.B.S.', 'PK', 'Sanju',
       'The Kashmir Files', 'Bajrangi Bhaijaan', 'Race 3', 'Shershaah',
       'K.G.F: Chapter 2', 'Pushpa: The Rise - Part 1', 'RRR',
       'Baahubali: The Beginning'],
      dtype='object', name='title')

In [44]:
df.head(3)

,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,profit
title,,,,,,,,,,,
Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,69,30000.0
Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,2,754.8
Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,11,479.8

In [45]:
df.loc["Pather Panchali"]

industry                        Bollywood
release_year                         1955
imdb_rating                           8.3
studio          Government of West Bengal
budget                              70000
revenue                            100000
unit                            Thousands
currency                              INR
language                          Bengali
age                                    69
profit                              30000
Name: Pather Panchali, dtype: object

In [46]:
df.loc["K.G.F: Chapter 2"]

industry            Bollywood
release_year             2022
imdb_rating               8.4
studio          Hombale Films
budget                      1
revenue                  12.5
unit                 Billions
currency                  INR
language              Kannada
age                         2
profit                   11.5
Name: K.G.F: Chapter 2, dtype: object

In [47]:
df.loc["The Pursuit of Happyness"]

industry                Hollywood
release_year                 2006
imdb_rating                     8
studio          Columbia Pictures
budget                         55
revenue                     307.1
unit                     Millions
currency                      USD
language                  English
age                            18
profit                      252.1
Name: The Pursuit of Happyness, dtype: object

In [49]:
df.loc[['Titanic', 'Avatar',
       'The Godfather', 'The Dark Knight', 'Jurassic Park',
       'Parasite', 'Avengers: Endgame']]

,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,profit
title,,,,,,,,,,,
Titanic,Hollywood,1997,7.9,Paramount Pictures,200.0,2202.0,Millions,USD,English,27,2002.0
Avatar,Hollywood,2009,7.8,20th Century Fox,237.0,2847.0,Millions,USD,English,15,2610.0
The Godfather,Hollywood,1972,9.2,Paramount Pictures,7.2,291.0,Millions,USD,English,52,283.8
The Dark Knight,Hollywood,2008,9.0,Syncopy,185.0,1006.0,Millions,USD,English,16,821.0
Jurassic Park,Hollywood,1993,8.2,Universal Pictures,63.0,1046.0,Millions,USD,English,31,983.0
Parasite,Hollywood,2019,8.5,NaN,15.5,263.1,Millions,USD,English,5,247.6
Avengers: Endgame,Hollywood,2019,8.4,Marvel Studios,400.0,2798.0,Millions,USD,English,5,2398.0

In [48]:
df.iloc[2]

industry             Hollywood
release_year              2013
imdb_rating                6.8
studio          Marvel Studios
budget                     165
revenue                  644.8
unit                  Millions
currency                   USD
language               English
age                         11
profit                   479.8
Name: Thor: The Dark World , dtype: object

In [50]:
df.reset_index(inplace=True)
df.tail(5)

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,profit
32,Shershaah,Bollywood,2021,8.4,Dharma Productions,500.0,950.0,Millions,INR,Hindi,3,450.0
33,K.G.F: Chapter 2,Bollywood,2022,8.4,Hombale Films,1.0,12.5,Billions,INR,Kannada,2,11.5
34,Pushpa: The Rise - Part 1,Bollywood,2021,7.6,Mythri Movie Makers,2.0,3.6,Billions,INR,Telugu,3,1.6
35,RRR,Bollywood,2022,8.0,DVV Entertainment,5.5,12.0,Billions,INR,Telugu,2,6.5
36,Baahubali: The Beginning,Bollywood,2015,8.0,Arka Media Works,1.8,6.5,Billions,INR,Telugu,9,4.7

In [52]:
df.index

RangeIndex(start=0, stop=37, step=1)